---
layout: base
title: Happal (Backend)
description: Deployed server that facilitate authorization, validation, and syncronization for Happal. Mainly built with Express, PouchDB, PostgreSQL, and Passport.js 
link: 
repo:
sc_desktop: /assets/images/sc_desktop_2.webp
sc_mobile: /assets/images/sc_mobile_2.webp
tags: project
---

<main class="flex flex-col items-stretch gap-12 mx-12">
    
</main>
