---
layout: base
title: Happal (Frontend)
description: Spaced Repetition System Web app to make english immersing easier, Mainly built with React and PouchDB.
link: https://happal-in.netlify.app/
repo: https://github.com/najmunda/happal-client
sc_desktop: /assets/images/sc_desktop_1.webp
sc_mobile: /assets/images/sc_mobile_1.webp
tags: project
---

<main class="flex flex-col items-stretch gap-12 mx-12">
    
</main>
